@{
    ViewBag.Title = "About";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@Html.ActionLink("Home", "About", "Home", new { area = "" }, null)

<p>Use Giridhar Singh this area to provide additional information.</p>
