@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Admin App", "Index", "Home", new { area = "Admin" }, null)
<title>Home</title>
<div class="content">
    <div class="thumb-box1">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 wow fadeInUp">
                    <p class="title">Helping you hear better </p>
                    <p>We have earned a reputation for being able to provide patients with nearly all types of hearing loss instruments and services at a reasonable price. If you don't find the exact hearing loss product that you are looking for, let us know and we will do everything that we can to satisfy your needs.</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                    <a href="#" class="btn-default btn1">More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box2">
        <div class="container">
            <p class="title wow fadeInLeft">Our professional advice</p>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page1_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">reprehenderit in voluptate</p>
                                <p>Dolor sit amet, consectetur adipisicing elit sed dobe eiusmod tempor incididuntut labore et dolore magna aliquautenim massa ipsum.</p>
                                <a href="#" class="btn-default btn2">read more <i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page1_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">labore et dolore magna</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed dobe eiusmod tempor incidut labore et dolore magna aliquautenad minim veniam, quis nostrud.</p>
                                <a href="#" class="btn-default btn2">read more <i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="thumb-pad1">
                        <div class="thumbnail">
                            <strong><img src="~/Content/Images/page1_icon1.png" alt=""></strong>
                            <div class="caption">
                                <p class="description">Duis aute irure dolor</p>
                                <p>Epsum dolor sit amet, consectetur adipisicing elit sed ut labore et dolore magna aliquautenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                                <a href="#" class="btn-default btn2">read more <i></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box3">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="thumb-pad2 maxheight">
                        <div class="thumbnail">
                            <figure><img src="~/Content/Images/page1_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">lorem ipsum</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                                <a href="#"><img src="~/Content/Images/more_arrow1.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="thumb-pad2 maxheight">
                        <div class="thumbnail">
                            <figure><img src="~/Content/Images/page1_pic2.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">consequatur</p>
                                <p>Massa dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore est. </p>
                                <a href="#"><img src="~/Content/Images/more_arrow1.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInLeft">
                    <div class="thumb-pad2 maxheight">
                        <div class="thumbnail">
                            <figure><img src="~/Content/Images/page1_pic3.jpg" alt=""></figure>
                            <div class="caption">
                                <p class="title">laboriosam</p>
                                <p>Ed dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
                                <a href="#"><img src="~/Content/Images/more_arrow1.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb-box4">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 wow fadeInUp">
                    <p class="title"><img src="~/Content/Images/title_icon1.png" alt="">Our Mission</p>
                    <h3>Quis autem vel eum iure reprehenderit</h3>
                    <p>Dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris  ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                    <a href="#" class="btn-default btn2">read more <i></i></a>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6 col-lg-offset-1 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="title"><img src="~/Content/Images/title_icon2.png" alt="">consultation</p>
                    <h3>Ut enim ad minim veniam</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
                    <a href="#" class="btn-default btn2">read more <i></i></a>
                </div>
            </div>
        </div>
    </div>

</div>