@model Models.ServicesModel

@{
    ViewBag.Title = "Services Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--content-->
<div class="content indent">
    <!--content-->
    <div class="thumb-box14">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;">@Html.DisplayFor(model => model.ServiceName)</h2>
                    <div class="thumb-pad7 indent wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="box clearfix">
                            @*<div>
                                <strong>23</strong>
                                <span>august</span>
                            </div>*@
                            <hr>
                            <a href="#" class="lnk">                                                               
                                <p>
                                    @{ var shortDesc = Model.ShortDesc;

                                    @Html.Raw(shortDesc)

                                    }
                                <p>                            
                            </a>
                            
                            @*<p>Posted by <a href="#">Admin</a> in <a href="#">General</a>  |  <a href="#">23 comments</a></p>*@
                        </div>
                        <div class="thumbnail">
                            <figure><img src="~/Content/Images/page4_pic1.jpg" alt=""></figure>
                            <div class="caption">
                                <div>
                                    @{ var longDesc = Model.LongDesc;

                                    @Html.Raw(longDesc)

                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <h2>categories</h2>
                            <ul class="list1-1">
                                <li><a href="#">Ultrices Posuere Cubilia Curae</a></li>
                                <li><a href="#">Suspendisse Sollicitudin Velit Sed Leo</a></li>
                                <li><a href="#">Ut Pharetra Augue Nec Augue</a></li>
                                <li><a href="#">Nam Elit Agna Endrerit Sit Amet</a></li>
                                <li><a href="#">Tincidunt Ac Viverra Sed Nulla</a></li>
                                <li><a href="#">Donec Porta Diam Eu Massa</a></li>
                                <li><a href="#">Quisque Diam Lorem Interdum Vitae</a></li>
                                <li><a href="#">Dapibus Ac Scelerisque Vitae Pede</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

